body 
{
	
	transition: background .5s ease-out;

}
.container {
	background-image: url("background.jpg");
	position: relative;
	visibility: hidden;
  }


  .jumbotron {
  	position: relative;
  	font-family: 'Montserrat', bold;
  	margin-top: 20%;
  	margin-bottom: 20%;
  	text-align: center;
  	color: white;
  	background-color: #1D1E1E;


  }
  .jumbotron h1 {
  /*	font-size: 80px;*/

  	line-height: 1;
  }
  .jumbotron .lead {
  	font-size: 18px;
  	line-height: 1.25;
  }
  .jumbotron .btn {
  	font-size: 21px;
  	padding: 5px 24px;
  	margin: 10px;
  }
  .btn:hover  {
  	transition: all 0.3s ease 0s;
  	color: #5CB85C;
  	/*  background-color: #5CB85C;*/
  	border-color: #5CB85C; 
  }

